__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

mlruns/
.mlruns/
mlflow.db
models/*.joblib

.pytest_cache/

.ipynb_checkpoints/
.idea/
.vscode/
.DS_Store

frontend/node_modules/
frontend/dist/
.env
