# Игнорировать всю папку content, так как в ней лежит датасет
/content/

# Игнорировать все файлы моделей .pth
*.pth

# Стандартные исключения для Python и Jupyter
__pycache__/
.ipynb_checkpoints
venv/
.DS_Store

# --- Road Object Detector Project ---
# Игнорируем папку с данными
SoloProjects/road_object_detector/data/

# Игнорируем виртуальное окружение
SoloProjects/road_object_detector/venv/

# Игнорируем кэш Python
SoloProjects/road_object_detector/__pycache__/

# Игнорируем обученные модели
SoloProjects/road_object_detector/*.pth
SoloProjects/road_object_detector/*.pt